numpy<2.0
scipy
tensorboard
librosa==0.10.2
numba
pytorch-lightning>=2.4
gradio==4.44.1
ffmpeg-python
tqdm
funasr>=1.3.7
cn2an
pypinyin
openjtalk==0.3.0.dev3
g2p_en
modelscope
sentencepiece
transformers>=4.43,<=4.50
peft<0.18.0
chardet
PyYAML
psutil
jieba
split-lang
fast_langdetect>=0.3.1
wordsegment
rotary_embedding_torch
ToJyutping
g2pk2
ko_pron
opencc
fastapi[standard]==0.115.2
starlette==0.40.0
x_transformers
torchmetrics<=1.5
pydantic==2.10.6
ctranslate2>=4.0,<5
av>=11
python-multipart
faster-whisper
setuptools==80.9.0
